/* main css */

body {
  background: url("img/rsbackground.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 10px;
  text-rendering: optimizeLegibility;
  color: white;
}

@font-face {
  font-family: "RuneScape UF";
  src: url("runescape_uf.ttf");
}

li {
  list-style: none;
}

/* page title */

h1 {
  color: #FFFF00;
  font-size: 40px;
  font-family: "RuneScape UF";
}

/* nav-bar and dropdown menu */

.sidebar-nav {
  padding: 9px 0;
}

.nav-item a {
  font-family: "Verdana";
  font-size: 1.25em;
  color: white;
  text-decoration: none;
}

.nav-item a:hover {
  color: black;
}

.nav-item a:focus {
  color: black;
}

.dropdown-menu .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px;
}

.dropdown:hover .dropdown-menu {
  display: block;
  background-color: transparent;
  cursor: default;
  margin-top: 0;
}

.dropdown-menu li a {
  font-size: 1em;
  color: white;
}

.dropdown-menu li:hover .dropdown-menu li a {
  color: black;
}

/* search bar */

.searchBar {
  font-size: 30px;
  font-family: "RuneScape UF";
  color: black;
  text-align: center;
  width: 30%;
  height: 1.5em;
}

/* player page and table */

#table-title {
  display: inline;
  margin: auto;
  max-width: 600px;
  padding: 5px;
  width: 100%;
  color: #fafafa;
  font-size: 2em;
  font-weight: 400;
  font-style: normal;
  font-family: "Roboto", helvetica, arial, sans-serif;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}

#x-button {
  display: inline;
  color: red;
  font-family: "RuneScape UF";
  font-size: 2em;
  background-color: transparent;
  border: none;
  outline: none;
}

/* tooltip text */
.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: .5em;

  /* position the tooltip texts */
  position: absolute;
  z-index: 1;
}

/* show the text on hover */
#x-button:hover .tooltiptext {
  visibility: visible;
}

th:hover {
  cursor: pointer;
}

.st-sort-ascent:before {
  content: "\25B2";
}

.st-sort-descent:before {
  content: "\25BC";
}

 /* TABLE */

table {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}

th {
  color: #D5DDE5;;
  background: #1b1e24;
  border-bottom: 4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size: 23px;
  font-weight: 100;
  padding: 24px;
  text-align: left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}

th:first-child {
  border-top-left-radius: 3px;
}

th:last-child {
  border-top-right-radius: 3px;
  border-right: none;
}

tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color: #666B85;
  font-size: 16px;
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
  background: #807A83; /* #4E5066; */
  color: #FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}

tr:first-child {
  border-top: none;
}

tr:last-child {
  border-bottom: none;
}

tr:nth-child(odd) td {
  background: #EBEBEB;
}

tr:nth-child(odd):hover td {
  background: #807A83; /* #4E5066 */
}

tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}

td {
  background: #FFFFFF;
  padding: 20px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

/* item page and graph */

#itemSearch {
  margin: auto;
  font-family: "RuneScape UF";
  font-size: 1.25em;
  color: white;
}

#itemInfo {
  background-color: #7d653e;
  border-radius: 5px;
  width: 50%;
  padding-bottom: 5px;
}

#graph-bg {
  background-color: #7d653e;
  border-radius: 5px;
  width: 50%;
  height: 50%;
}

button {
  color: black;
}

/* build calculator */

#build {
  color: white;
  font-size: 1.25em;
}

#combatText {
  display: inline;
  font-size: 30px;
}

#enterCombat {
  display: inline;
  width: 2em;
  margin-left: 5px;
  font-size: 30px;
  color: black;
  text-align: center;
  outline: none;
}

.find-save {
  display: inline;
  color: black;
  outline: none;
  text-align: center;
}

.find-save-button {
  background-color: red;
  border-color: red;
}

.auto-cursor {
  cursor: default;
}

.dropdown a {
  text-decoration: none;
  color: white;
}

.build-info {
  display: inline-block;
  float: none;
}

.keep-white a:hover {
  color: white;
}

.build-types li a {
  text-align: justify;
}

.display-inline {
  display: inline;
}

/* user auth */

.nav-login {
  color: black;
  outline: none;
}

.nav-login-button {
  background-color: transparent;
  border: none;
  outline: none;
  display: inline;
  font-family: "Verdana";
  color: white;
  text-decoration: none;
}

.nav-login-button:hover {
  color: black;
  background-color: white;
}

.nav-text {
  color: white;
  font-family: "Verdana";
}

#account-box {
  position: relative;
  background-color: #7d653e;
  border-radius: 5px;
  width: 25%;
  height: 500px;
}

#account-container {
  position: absolute;
  width: 100%;
  margin-top: 5%;
  padding-right: 5%;
  padding-left: 5%;
}

.account-input {
  display: block;
  margin-top: 5%;
  color: black;
  width: 80%;
  height: 1.25em;
  font-size: 30px;
  font-family: "Courier New";
}

#account-form-button {
  background-color: red;
  outline: none;
  border: none;
  border-radius: 2px;
  margin-top: 5%;
  font-family: "Runescape UF";
  font-size: 2vw;
  color: white;
  width: 30%;
}

#account-form-button:disabled {
  background-color: red !important;
  color: white !important;
}

#account-form-button:hover {
  background-color: white;
  color: red;
}

#logo-img {
  width: 40%;
  border-radius: 5px;
}

.happy-password {
  background-color: #3CBC8D;
}

/* user prefs */

#user-box {
  position: relative;
  padding-top: 2%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #1b1e24;
  background-color: #EBEBEB;
  border-color: #C1C3D1;
  width: 50%;
  height: 500px;
}

.account-info {
    display: inline-block;
    width: 100%;

}

hr {
  border-color: #1b1e24;
}

.user-input {
  outline: none;
}

.user-button {
  background-color: #1b1e24;
  outline: none;
  border: 1px white;
  color: white;
  margin: 2px;
}

.logout-button {
  background-color: #1b1e24;
  outline: none;
  border: 1px white;
  border-radius: 2px;
  color: white;
  margin: 2px;
}
