<center><h1>OSRS Players</h1></center>

<center>
  <div id="playerSearch" ng-controller="PlayerController as pc" ng-init="pc.playerSelected()">
    <form ng-submit="pc.submit(pc.playerSearch)">
      <input class="searchBar" placeholder="Search for a player..." type="text" ng-model="pc.playerSearch"
        ng-submit="pc.submit(pc.playerSearch)" ng-change="pc.reset()">
    </form>
    <br>
    <div ng-show="pc.playerErr">{{ pc.errorMessage }}</div>
    <div ng-show="pc.showPlayer">
      <div class="p-container">
        <table style="width:400px;">
          <th class="player-th">
            <button class="pull-right" id="x-button" ng-click="pc.removeFromFavorites()">X
              <span class="tooltiptext">Remove from recents</span>
            </button>
          </th>
          <th class="player-th"><div id="table-title">{{ pc.playerSearch }}</div></th>
          <th ng-if="$root.isLoggedIn" class="player-th">
            <div ng-show="pc.friendAdded"></div>
            <button class="add-friend" ng-hide="pc.friendAdded" ng-click="pc.save(pc.playerInfo)">Add Friend</button>
          </th>
          <th ng-if="!$root.isLoggedIn"></th>
        </table>
      </div>
      <br>
      <table class="smart-table" st-table="pc.displayCollection" st-safe-src="pc.playerInfo">
        <thead>
          <tr class="smart-tr">
            <th class="smart-th" st-sort="type">Skill</th>
            <th class="smart-th" st-sort="rank">Rank</th>
            <th class="smart-th" st-sort="level">Level</th>
            <th class="smart-th" st-sort"exp">XP</th>
          </tr>
        </thead>
        <tbody>
          <tr class="smart-tr" ng-repeat="row in pc.displayCollection">
            <td class="smart-td">{{ row.type }}: </td>
            <td class="smart-td">{{ row.rank }}</td>
            <td class="smart-td">{{ row.level }}</td>
            <td class="smart-td">{{ row.exp }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</center>
